.item-container {
    display: inline-block;
    width: 210px;
    height: 310px;
    margin: 25px 20px 25px 0;
    border-radius: 15px;
    text-align: center;
    background-color: #F1FDFF;
    border: none;
    outline: none;
}

.item-container__buy-now {
    width: 430px;
    height: 450px;
}

.item-img {
    display: block;
    width: 90%;
    margin: 20px auto 10px auto;
    border-radius: 25px;
}

.item-img__buy-now {
    width: 90%;
}

.item-name {
    width: 100%;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    font-size: 16pt;
    color: #222326;
    margin: 10px 0;
}

.item-sizes {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 5px 0 10px 0;
}

.size-icon-width {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 22px;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    margin: 0 5px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    color: #222326;
}

.size-icon-width__buy-now {
    width: 64px;
    height: 32px;
    font-size: 14pt;
}

.item-buttons {
    display: flex;
    width: 100%;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
}

.item-price {
    display: flex;
    width: 80px;
    height: 30px;
    background-color: #FF9A8D;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.item-price__buy-now {
    width: 120px;
    height: 50px;
    border-radius: 15px;
    margin-left: 25px;
}

.item-price-name {
    color: #F1FDFF;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 12pt;
}

.item-actions {
    display: flex;
}

.item-delete {
    display: flex;
    width: 80px;
    height: 30px;
    background-color: #FF9A8D;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    outline: none;
    border: none;
    transition: background-color 0.25s;
}

.item-delete__buy-now {
    width: 120px;
    height: 50px;
    border-radius: 15px;
    margin-left: 25px;
}

.item-price-name__buy-now {
    font-size: 16pt;
}

.item-delete:hover {
    cursor: pointer;
    background-color: #f8a599;
}