.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    background-color: #4A536B;
    margin: 20px 0;
    border-radius: 10px;
    -webkit-box-shadow: 0 5px 10px 0 rgba(34, 35, 38, 0.25);
    -moz-box-shadow: 0 5px 10px 0 rgba(34, 35, 38, 0.25);
    box-shadow: 0 5px 10px 0 rgba(34, 35, 38, 0.25);
}

.price {
    display: flex;
    align-items: center;
    margin: 0 0 0 20px;
}

.total-text {
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-size: 20pt;
    color: #F1FDFF;
}

.total-price {
    font-family: "Fira Sans", sans-serif;
    background-color: #F1FDFF;
    font-weight: 500;
    font-size: 18pt;
    padding: 15px 25px;
    margin: 0 0 0 20px;
    color: #FF9A8D;
    border-radius: 15px;
}

.buy-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 0;
}

.buy-button-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    width: 128px;
    height: 48px;
    border-radius: 15px;
    background-color: #FF9A8D;
    transition: background-color 0.25s;
}

.buy-button-footer:hover {
    cursor: pointer;
    background-color: #fc7a6c;
}

.buy-footer-text {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-size: 16pt;
    color: #F1FDFF;
}